doctype html
html(lang="en")
    head
        include parciales/header
    body.login 
        .contenedor-formulario
            h1= nombrePagina 
            p Ingrese nueva contraseña

            form(method="POST").caja-login
                .campo 
                    label(for="password") Nueva Contraseña:
                    input#password(type="password", name="password" placeholder="Nuevo password")
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer Password")